name: Build and test
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'microsoft'
          java-version: '21'
          cache: 'gradle'
      - name: Make ./gradlew executable
        run: chmod 777 ./gradlew
      - name: Build
        run: ./gradlew build -x lint
      - name: Run tests
        run: ./gradlew test
